.nav {
  background: #007bff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
}

.link {
  background-color: rgb(128, 190, 35);
  border-radius: 25px;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  /* position: relative;
  left: 50%; */
}
.linkContacs {
  background-color: rgb(128, 190, 35);
  border-radius: 25px;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  margin-right: 30vh;
}
.link:hover {
  background-color: green;
}
