.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 50px;
}

.button:hover {
  background-color: #00b32d;
}
